main #aboutus .flex .column {
    margin: var(--margingrid) 0;
    
}

main #aboutus .column h3 {
    font-weight: 700;
    font-size: 110%;
}

main #aboutus .column h4 {
    margin: 0.8em 0;
    color: var(--colorprincipal);
}

main #aboutus .imagen .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}

main #aboutus .imagen .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus .imagen:hover .marco, main #aboutus .imagen:hover .marco img {
    transform: rotateZ(0deg);

}