main section {
    padding: calc(var(--margingrid)*3) var(--margingrid) calc(var(--margingrid)*5) var(--margingrid);
}

main section h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2.5em;
    text-align: center;
}

main section h2 span {
    color: var(--colorprincipal);
}

main section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

main section .underline span {
    color: var(--colorprincipal);
    font-weight: 700;
}

main #ourservices .grid {
    display: grid;
}

main #ourservices .grid article {
    padding: calc(var(--margingrid)*2) 0;
    border-bottom: 1px solid #aaa;
}

main #ourservices .grid article div i {
    color: var(--colorprincipal);
    font-size: 150%;
    border: 1px solid var(--colorprincipal);
    padding: 0.5em;
}

main #ourservices .grid article h3 {
    font-weight: 700;
    margin: 10px 0;
    font-size: 110%;
}

main section p {
    color: #666;
    line-height: 1.25;
    margin-bottom: 10px;
}

.enlace {
    text-decoration: none;
    color: var(--colorprincipal);
    font-weight: 700;
}

.fa-truck {
    transform: rotateY(180deg);
}

.fa-long-arrow-alt-right:hover {
    transform: translateX(5px);
    transition: 0.5s;
}
