@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 1100px; 
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

/* INICIO DEL HEADER */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    font-size: 150%;
}

header nav {
    padding: var(--margingrid);
}

header nav .container:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
} /* PARA ELIMINAR FLOTACIONES */


header nav .hamburguesa {
    cursor: pointer;
    
}

header .hamburguesa {
    float: right;
}

header .logo {
    float: left;
    max-width: 100px;
}

header .menu {
    padding-top: 60px;
    text-align: center;
}

header .menu a {
    text-decoration: none;
    display: block;
    padding: calc(var(--margingrid)*1.25);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header .menu li:last-child a {
    border-bottom: 0px;
}

header .menu .activo {
    color: var(--colorprincipal);
}


header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: calc(var(--margingrid)*0.75);
    width: 2em;
}

/* FIN DEL HEADER */



/* INICIO DEL FOOTER */

footer {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorprincipal);
}

.flecha a {
    display: block;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 5%;
    right: 10px;
    font-size: 250%;
}


/* INICIO DEL HERO */

.hero {
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-color: rgb(163, 163, 163);
    background-blend-mode: multiply;
    color: white;
    display: flex;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.hero h1 {
    font-family: var(--fuentesecundaria);
    font-size: 2.25em;
}

.hero h2 {
    color: var(--colorprincipal);
    margin: var(--margingrid) 0;
    font-size: 1.25em;
}

.hero p {
    font-size: 1.15em;
}

.boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: var(--margingrid);
    color: white;
    text-decoration: none;
    margin: var(--margingrid) 0;
    border: 1px solid var(--colorprincipal);
}

.boton:hover {
    background: transparent;
    color: var(--colorprincipal);
}

.boton:hover i {
    transform: translateX(5px);
    transition: 0.5s;
}

.hero .social {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.hero .social a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}


/* FIN DEL HERO */


/* INICIO OUR SERVICES */

main section {
    padding: calc(var(--margingrid)*3) var(--margingrid) calc(var(--margingrid)*5) var(--margingrid);
}

main section h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2.5em;
    text-align: center;
}

main section h2 span {
    color: var(--colorprincipal);
}

main section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto; /* para centrar un div */
    text-align: center;
    margin-bottom: var(--margingrid);
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

main section .underline span {
    color: var(--colorprincipal);
    font-weight: 700;
}

main #ourservices .grid {
    display: grid;
}

main #ourservices .grid article {
    padding: calc(var(--margingrid)*2) 0;
    border-bottom: 1px solid #aaa;
}

main #ourservices .grid article div i {
    color: var(--colorprincipal);
    font-size: 150%;
    border: 1px solid var(--colorprincipal);
    padding: 0.5em;
}

main #ourservices .grid article h3 {
    font-weight: 700;
    margin: 10px 0;
    font-size: 110%;
}

main section p {
    color: #666;
    line-height: 1.25;
    margin-bottom: 10px;
}

.enlace {
    text-decoration: none;
    color: var(--colorprincipal);
    font-weight: 700;
}

.fa-truck {
    transform: rotateY(180deg);
}

.fa-long-arrow-alt-right:hover {
    transform: translateX(5px);
    transition: 0.5s;
}


/* FIN OUR SERVICES */


/* INICIO ABOUT US  */

main #aboutus .flex .column {
    margin: var(--margingrid) 0;
    
}

main #aboutus .column h3 {
    font-weight: 700;
    font-size: 110%;
}

main #aboutus .column h4 {
    margin: 0.8em 0;
    color: var(--colorprincipal);
}

main #aboutus .imagen .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}

main #aboutus .imagen .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus .imagen:hover .marco, main #aboutus .imagen:hover .marco img {
    transform: rotateZ(0deg);

}

/* FIN ABOUT US  */


/* INICIO SECCION BLOG */

main #ourblogs .container .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: var(--margingrid);

}

main #ourblogs .container .underline {
    margin-bottom: calc(var(--margingrid)*3);
}

main #ourblogs .container .underline  hr {
    top: -2px;
}


main #ourblogs h2 {
    font-style: italic;
    font-weight: 700;
    margin-bottom: calc(var(--margingrid)*0.40);
}


main #ourblogs .container h3 {
    font-size: 180%;
    margin-bottom: var(--margingrid);
}

main #ourblogs .container h4 {
    font-weight: 700;
    margin: 1em 0;
    color: var(--colorprincipal);
}

main #ourblogs .container p  {
    color: #666;
    line-height: 1.5;
}

main #ourblogs .container .blog-column {
    position: relative;

}


main #ourblogs .container .blog-column .fecha {
    background-color: var(--colorprincipal);
    opacity: 0.8;
    width: 70px;
    height: 70px;
    position: absolute;

}

main #ourblogs .container .blog-column .fecha p {
    color: white;
    font-size: 120%;
    font-weight: 600;
    padding: 4px;
    text-align: center;
    
}


main #ourblogs .container img {
    width: 100%;
    display: inline-block;
    margin-bottom: var(--margingrid);
}


main #ourblogs .container .boton {
    font-weight: 700;
    background-color: white;
    color: var(--colorprincipal);
    text-decoration: none;
    border: none;
    padding: 0;
}


/* FIN SECCION BLOG */

/* INICIO SECCION MENU  */

main #menu {
    background-color: var(--colorsecundario);
    max-width: 100%;
}

main #menu .container {
    margin: calc(var(--margingrid)*4);
}



main #menu .container .offers {
    margin: var(--margingrid) 0;
}

main #menu .container .grid {
    padding: var(--margingrid) var(--margingrid);
}

main #menu .container h2 {
    color: white;
    margin: 10px 0 0 0;
}

main #menu .container h3 {
    color: white;
    font-family: var(--fuenteprincipal);
    font-weight: 700;
}

main #menu .container .underline {
    margin-top: calc(var(--margingrid)*0.5);
    margin-bottom: calc(var(--margingrid)*2);
}

main #menu .container .offers .underline hr {
    top: 0;
    width: 50%;
}

main #menu .container .offers .underline {
    margin: 0 0;
}

main #menu ul {
    padding: var(--margingrid) 0;
    line-height: 2;
}

main #menu .container .grid .column {
    position: relative;
    margin-right: var(--margingrid);
    margin-top: var(--margingrid);
}


main #menu .container .grid h4 {
    color: white;
    font-size: 0.70em;
    font-family: var(--fuenteprincipal);
    font-weight: 700;
    padding: var(--margingrid) 0;
    
}

main #menu .container .grid span {
    color: var(--colorprincipal);
    font-weight: 700;
    float: right;
    margin-left: 2%
    
    
}

main #menu .container p {
    color: white;
    font-family: var(--fuenteprincipal);
    font-size: 0.65em;
    
}

main #menu .container .offers p {
    margin-top: calc(var(--margingrid)*2);
    margin-bottom: calc(var(--margingrid));
}


main #menu .menu a {
    text-decoration: none;
    font-size: var(--fuenteprincipal);
    color: white;
    line-height: 2;
    font-size: 0.75em;
    padding: var(--margingrid);
    margin-top: -10px;

    
}

main #menu .menu .activo   {
    background-color: var(--colorprincipal);
    border-radius: 3px;
}

  main #menu .grid .boton {
        color: var(--colorprincipal);
        background-color: transparent;
        border: none;
        padding: var(--margingrid) 0;
        margin-top: -10px;
        font-size: 0.6em;
        margin-bottom: 30px;
    }


/* FIN SECCION MENU  */



/* MEDIA QUERIES */

@media(min-width: 600px) {
    main #ourservices .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--margingrid);
    }

    main #ourservices .grid article:last-child {
        grid-column: 1/3;
    }

    main #aboutus .imagen {
        width: 90%;
        margin: 0 auto;
    }

    main #ourservices .grid article {
        border-bottom: none;
        border-left: 1px solid #aaa;
        padding: var(--margingrid);
    }
    
    main #aboutus .flex {
        display: flex;
    }

    main #aboutus .imagen {
        width: 80%;
    }

    main #ourblogs .container .grid {
        grid-template-columns: repeat(3, 1fr);
    }


main #menu .grid-general {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
main #menu .grid-izquierda {
    grid-column: 1;
    grid-row: 1/3;
}
main #menu .grid-1{
    grid-column: 2/4;
    grid-row: 1;
}
main #menu .grid-2{
    grid-column: 2/4;
    grid-row: 2;
}
main #menu .grid-3{
    grid-column: 2/4;
    grid-row: 3;
}

main #menu .container {
    margin: 0 auto;
}

main #menu .container .grid {
    margin-left: 20px;
}

main #menu .container .grid img {
    display: inline;
    position: none;
    width: 30%;
    float: left;
    margin-right: 20px;
}

main #menu .container .grid .column {
    display: inline;

}
 

}


@media(min-width: 768px) {
    header .nav-top a span {
        display: inline;
        color: white;
    }

    header .nav-top a i {
        font-size: 120%;
    }

    footer {
        text-align: left;
    }

    main #ourservices .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main #ourservices .grid article:last-child {
        grid-column: 3/4;
    }

    main #aboutus {
        margin-bottom: 3em;
    }
}

@media(min-width: 1004px) {
    header .hamburguesa {
        display: none;
    }

    header .menu {
        padding-top: 0px;
        float: right;
    }

    header .menu li {
        display: inline-block;
    }

    header .menu li a {
        border: 0px;
        padding: 0.5em calc(var(--margingrid));
    }

}










/* MEDIA QUERIES FOOTER  */

/* @media(min-width: 768px) {
    footer .container div {
        justify-content: start;
    }
}

@media(min-width: 1004px) {
    footer .container div {
        justify-content: start;
    }
} */

